
  volumes:
    grafana-data:
    prometheus-data:   

  services:
    app:
      build: .
      ports:
        - "4000:4000"
      environment:
        - NODE_ENV=production

    prometheus:
      image: prom/prometheus:v2.28.1
      container_name: prometheus
      restart: unless-stopped
      volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
      ports:
      - 9090:9090

    grafana:
      image: grafana/grafana:8.0.6
      container_name: grafana
      restart: unless-stopped
      volumes:
      - grafana-data:/var/lib/grafana
      ports:
      - 3000:3000